.section {
  padding: var(--spacing-5xl) 0;
  width: 100%;
}

.section-silver {
  background-color: var(--bg-silver);
}

.section-dark {
  background-color: var(--bg-dark);
  color: var(--bg-silver);
}
